* {
    box-sizing: border-box;
    margin: auto;
}

/* NAVIGATION */
.navigation {
    display:flex;
    flex-direction: column;
    height: 462px;
    margin-left: 49px;
    margin-right: 140px;
    width: 72px;
}
.navigation__main {
    display:flex;
    margin-left: 40.61%;
    margin-top: 0;
    margin-bottom: 0;
}
.navigation__text {
    font-size: 14px;
    font-weight: 400;
    margin-left: 22.5px;
    width: 111px;
    white-space: nowrap;
    font-family: nunito, sans-serif;
    font-style: normal;
    letter-spacing: 1.4px;
}
.navigation__number {
    font-family: "Avenir - Black";
    font-size: 60px;
    font-weight: 400;
    line-height: 60.96px;
}
.navigation__point {
    border-radius: 50%;
    height: 15px;
    width: 15px;
}
.navigation__line {
    height: 100px;
    width: 3px;
}
.navigation__point-white {
    background-color: white;
}
.navigation__point-gray {
    background-color: rgb(51,51,51);
}
.navigation__point-gray45 {
    background-color: rgb(115, 115, 115);    
}
.navigation__point-lightgray {
    background-color: rgb(230, 230, 230);  
}
.navigation__line-white {
    background-color: white;
}
.navigation__line-gray {
    background-color: rgb(51,51,51);
}
.navigation__number-white {
    color: white;
}
.navigation__number-gray{
    color: rgb(51,51,51);
}
.navigation__text-white {
    color: white;
}
.navigation__text-gray {
    color: rgb(51,51,51);
}


/* GREETING */
.greeting {
    height: 100vh;
    width: 100%;
    display: flex;
    overflow-x: hidden;
}
.greeting__background {
    position: absolute;
    align-self: flex-end;
    z-index: -1;
    height: 100vh;
    width: auto;
    overflow-x: hidden;
}
.greeting__logo {
    position: absolute;
    margin-left: 374px;
    margin-top: 37px;
    margin-bottom: 141px;
    width: 97px;
    height: 69px;
}
.greeting__logo-big {
    position: absolute;
    align-self: flex-end;
    margin-left: 662px;
    width: 594px;
    height: 412px;
}
.greeting__scroll {
    position: absolute;
    align-self: flex-end;
    margin-left: 948px;
    width: 25px;
    height: 39px;
}
.greeting__photo {
    position: absolute;
    align-self: flex-end;
    margin-left: 1040px;
    width: 629px;
    height: 674px;
}
.greeting__text {    
    margin-top: 247px;
    margin-left: 368px;    
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.greeting__header {
    font-family: schnebel-sans-me, sans-serif;
    font-style: normal;
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
}
.greeting__name {
    font-family: schnebel-sans-me, sans-serif;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 32.51px;
}
.greeting__surname {
    font-family: schnebel-sans-me, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 20.8px;
}
.greeting__line{
    width: 282px;
    height: 5px;
    background-color: black;
    margin-top: 55px;
    margin-left: 0;
    margin-bottom: 55px;
    margin-top: 38px;
    background-color: black;
}
.greeting__paragraph {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-size: 25px;
    font-weight: 400;
    line-height: 30.74px;
    width: 670px;
    height: 178px;
    margin-left: 0;
    text-align: justify;
}
.phone {
    position: absolute;
    margin-top: 137px;
    display: flex;
    right: 0;
    font-family: nunito, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.phone__shape {
    position: absolute;
}
.phone__number {
    position: relative;
    margin-top: 20px;
    margin-left: 200px;
    width: 202px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    line-height: 95.17px;
}


/* INTRODUCTION */
.introduction {
    height: 100vh;
    width: 100%;
    display: flex;
    overflow-x: hidden;
}
.introduction__text {
    width: 479px;
    text-align: justify;
}
.introduction__paragraph {    
    margin-top: 104px;
}

/* STRENGTHS FIELDS*/
.strengths,
.fields {
    height: 100vh;
    width: 100%;
    display: flex;
    overflow-x: hidden;
}

.fields {
    background-color: #333333;
}
.strengths__mocne {
    margin-top: 120px;
}
.text {
    margin-top: 120px;
}
.header {
    font-family: schnebel-sans-me, sans-serif;
    font-size: 42px;
    line-height: 60.96px;
    text-transform: uppercase;
    letter-spacing: 16.8px;
}
.strengths__header {
    color: #333333;    
}
.fields__header {
    color: #f7f7f7;
}
.line {
    width: 400px;
    height: 3px;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 80px;
}
.strengths__line {    
    background-color: black;
}
.fields__line {
    background-color: #f7f7f7;
}
.content {
    display: flex;
    flex-wrap: wrap;
    height: 472px;
    padding-left: 0;
    justify-content: center;
}
.box {
    width: 231.3px;
    margin: 0 50px;
    list-style: none;
    text-align: center;
}
.strengths__hand {
    margin-bottom: 75px;
    margin-top: 50px;
}
.strengths__star {
    margin-bottom: 89px;
    margin-top: 50px;
}
.strengths__light {
    margin-bottom: 65px;
    margin-top: 40px;
}
.strengths__arrow {
    margin-bottom: 61px;
    margin-top: 50px;
}
.fields__icon {
    margin-top: 100px;
    margin-bottom: 70px;
}
.name {
    text-align: center;
    margin-bottom: 0;
    font-size: 19px;
    font-weight: 400;
    line-height: 29.2px;
    letter-spacing: 4.75px;    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
.fields__name {
    color: white;
    margin-bottom: 30px;
}
.lines {
    width: 75px;
    height: 1px;
}
.strengths__lines {
    background-color: #158483;
    margin-top: 70px;
}
.fields__lines {
    background-color: #b3b3b3;
}
.arrow__lines {
    margin-top: 40px;
}
.strengths__paragraph {
    color: #999999;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.4px;    
}
.hand__paragraph,
.star__paragraph,
.light__paragraph {
    text-align: center;
    padding-top: 0;
    margin-top: 87px;
}
.arrow__paragraph {
    text-align: center;
    padding-top: 0;
    margin-top: 90px;    
}
.strengths__mocne {
    position: absolute;
    z-index: -1;
    display: flex;
    right: 0;
}


/* CONTACT */
.contact {
    background: rgb(51, 51, 51);
    height: 100vh;
    background-size: cover;
    display: flex;
    overflow-x: hidden;
}
.contact__text {
    width: 400px;
    margin-left: 177px;
    margin-right: 141px;
}
.contact__line{
    background-color: rgb(153, 153, 153);
    margin-bottom: 129px;
}
.contact__box {
    display: flex;
    margin-bottom: 70px;
}
.contact__data {
    margin-left: 0;
}
.contact__icon {
    margin-left: 0;
    margin-right: 0; 
}
.contact__envelope {
    margin-right: 49px;
}
.contact__point {
    margin-right: 70px;
}
.contact__phone {
    margin-right: 62px;
}
.contact__paragraph {
    font-size: 25px;
    letter-spacing: 0.8px;
    color: rgb(153, 153, 153);
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400; 
}
.contact__paragraph-big {
    font-weight: 700;
}


/* FOOTER */
.footer {    
    background-color: rgb(05, 05, 05);
    overflow-x: hidden;
}
.footer__content {
    width: 100vw;
    padding: 20px 115px 20px 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(70, 70, 70);
    font-size: 15px;
    letter-spacing: 0.38px;
}
.footer__text,
.footer__logo {
    margin: 0;
}
.footer__name {
    color: rgb(125, 125, 125);
}