@media screen and (max-width: 1686px) {
  .greeting {
  }
  .greeting__photo {
    right: 0;
  }
  .greeting__logo-big {
    right: 425px;
  }
  .greeting__scroll {
    right: 710px;
  }
  
}


@media screen and (max-width: 1605px) {
  .strengths,
  .fields {
    height: 1500px;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 1655px) {
  .greeting__text {
    width: 400px;
    margin-left: 268px;
  }
  .greeting__header {
    font-size: 40px;
  }
  .greeting__paragraph {
    font-size: 20px;
    width: 400px;
  }
}


@media screen and (max-width: 1120px) {
    .navigation {
      visibility: hidden;
    }    
    .greeting {
    }
    .greeting__text {  
      margin-left: 52px;
    }  
    .greeting__logo {  
      margin-left: 52px;
      width: 36px;
      height: 27px;
    } 
    .greeting__paragraph {
      font-size: 13px;
      line-height: 18.45px;
      width: 299px;
      height: 124px;
      letter-spacing: 0.36px;
    } 
    .greeting__header {
      width: 364px;
      height: 25px;
      font-size: 36px;
      line-height: 33.76px;
      letter-spacing: 32.51px;
    }
    .greeting__name {
      letter-spacing: 32.51px;
    }
    .greeting__surname {
      letter-spacing: 20.8px;
    }
    .greeting__line {
      width: 169px;
      height: 3px;
    }
    .text {
      margin-left: 52px;
      position: absolute;
    }
}


@media screen and (max-width: 780px) {
  .navigation,
  .navigation__point,
  .navigation__number,
  .navigation__text,
  .navig__line {
    margin: 0;
  }
  
  .greeting__background {
    width: 100vw;
    height: auto;
    margin-top: 32px;
    background-image: linear-gradient(-88deg, #ffffff 0%, rgba(255, 255, 255, 0.28) 72%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.51;
  }
  .greeting__logo {
    margin-bottom: 0;
  }
  .greeting__text {
    margin-top: 100px;
  }
  .greeting__logo-big {
    width: 186px;
    height: 129px;
    margin-left: 10vw;
    margin-top: 32px;
    position: absolute;
    left: 0;
  }
  .greeting__photo {
    width: 187px;
    height: 201px;
    margin-left: 40vw;
    margin-top: 32px;
    position: absolute;
    left: 0;
    right: 0;
  }

  .strengths,
  .fields {
    overflow-y: hidden;
    height: 2600px;
  }
}


@media screen and (max-width: 522px) {
  /* GREETING */
  .greeting {
    height: auto;
    justify-content: center;
  }
  .greeting__background {
    width: 100vw;
    height: auto;
    margin-top: 32px;
    background-image: linear-gradient(-88deg, #ffffff 0%, rgba(255, 255, 255, 0.28) 72%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.51;
  }
  .greeting__logo {
    width: 42px;
    height: 30px;
    margin-top: 9px;
    margin-left: 20px;
    margin-bottom: 12px;
    left: 0;
  }
  .greeting__separation {
    position: absolute;
    margin-top: 55px;
    width: 100vw;
    height: 2px;
    background-color: #388b7d;
  }
  .greeting__text {
    margin-top: 77px;
    margin-bottom: 10px;
  }
  .greeting__header {
    font-size: 21px;
    margin-left: 0;
    margin-right: 0;
  }
  .greeting__name {
    letter-spacing: 15.51px;
  }
  .greeting__surname {
    letter-spacing: 3.8px;
  }
  .greeting__line {
    width: 128px;
    height: 2px;
    margin-top: 19px;
    margin-bottom: 16px;
  }
  .greeting__paragraph {
    margin-right: 0;
  }
  .greeting__logo-big {
    width: 186px;
    height: 129px;
    margin-left: 10vw;
    margin-top: 32px;
    position: absolute;
    left: 0;
  }
  .greeting__photo {
    width: 187px;
    height: 201px;
    margin-left: 40vw;
    margin-top: 32px;
    position: absolute;
    left: 0;
    right: 0;
  }
  /* INTRODUCTION */
  .introduction {
    height: 1100px;
  }
  .introduction__courtroom {
    width: 230px;
    height: 198px;
    margin-left: 0;
    margin-top: 210px;
  }
  .introduction__courts {
    width: 172px;
    height: 206px;
    margin-top: 140px;
  }
  .introduction__paragraph {
    margin-top: 369px;
    width: 280px;
    height: 228px;
    font-size: 12px;
    letter-spacing: 0.48px;
  }

  /* .strengths */
  .fields {
    overflow-y: hidden;
    height: 1950px;
  }
  .strengths {
    overflow-y: hidden;
    height: 1850px;
  }
  .text {
    margin-top: 65px;
    margin-right: 22px;
    margin-bottom: 10px;
  }
  .header {
    font-size: 22px;
    letter-spacing: 17.6px;
    line-height: 30.48px;
  }
  .line {
    width: 170px;
    height: 1px;
  }
  .box {
    margin-bottom: 64px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .icon {
    margin-top: 0;
    margin-bottom: 35px;
  }
  .strengths__paragraph {
    font-size: 17px;
    letter-spacing: 0.34px;
    margin-top: 33px;
  }
  .strengths__lines {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .strengths__icon {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .fields__icon {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .fields__background {
    height: 1950px;
  }
  /* CONTACT */
  .contact {
    height: 2000px;
    overflow-y: hidden;
    display: column;
  }
  .contact__background {
    position: absolute;
    width: 100vw;
    height: 2000px;   
    background-image: url(images/contactBackground.png);
  }
  .contact__line {
    margin-bottom: 50px;
  }
  .contact__box {
    width: 283px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .contact__data {
    margin-top: 25px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .contact__paragraph {
    margin-top: 20px;
  }
  .contact__icon {
    margin: 0;
  }
  .contact__map {
    margin-top: 1000px;
    margin-left: 0;
  }
  /* FOOTER */
  .footer__content {
    padding-left: 30px;
    padding-right: 30px;
  }
  .footer__logo {
    margin-left: 50px;
    margin-right: 50px;
  }
}
